---
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>这是我自己的页面标题</title>
    <style>
      body {
        background-color: black;
        color: white;
        width: 800px;
        margin: 0 auto;
      }
      h1 {
        font-size: 3em;
        margin: 1em 0;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <Navigation />
    <h1>这是我自己的页面标题</h1>
    <Footer />
  </body>
</html>
